/*
  Author：Citrons@柠檬草
  Website：https://www.citrons.cn/
  E-mail:909229731@qq.com/citronsblog@gmail.com
  QQ:909229731
  Time:2019/02/01 16:12
*/
.overlay h4 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.blue {
	color: #3CF;
}

.green {
	color: #0F0;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

.site-header {
    margin-bottom: 80px;
}

.header-wrapper {
    border-bottom: 2px solid #46494f;
    padding: 30px 0;
    position: relative;
}

a.toggle-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 60px 0;
    width: 46px;
    height: 46px;
    background: #4e91c9;
    text-align: center;
    line-height: 46px;
}

a.toggle-nav i {
    font-size: 16px;
}

a.toggle-nav:hover {
    color: #fff;
}

.site-branding h1 {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

nav.main-navigation {
    text-align: right;
    margin-top: 10px;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

@media screen and (max-width: 992px) {
    nav.main-navigation {
        margin-top: 20px;
        text-align: left;
    }
}

@media screen and (max-width: 992px) {
    .menu-responsive {
        display: none;
    }
}

@media screen and (min-width: 993px) {
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 1040px) {
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
}

ul.main-menu li {
    display: inline-block;
    margin-left: 10px;
}

ul.main-menu li a {
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 13px;
}

ul.main-menu li a.active {
    background: #4e91c9;
    color: #fff;
}

@media screen and (max-width: 992px) {
    ul.main-menu {
        background: #26282c;
        padding: 10px 0;
    }

    ul.main-menu li {
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    ul.main-menu li a {
        font-size: 15px;
        font-weight: 300;
    }

    ul.main-menu li a.active {
        background: inherit;
        color: #4e91c9;
    }
}

.content {
    display: none;
}

.home-intro {
    margin-bottom: 100px;
}

.home-intro p {
    font-size: 18px;
    line-height: 1.85;
    width: 80%;
    margin: 0 auto;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

h2.welcome-title {
    font-weight: 100;
    color: #fff;
    font-size: 48px;
    margin-bottom: 30px;
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@media screen and (max-width: 992px) {
    h2.welcome-title {
        font-size: 36px;
    }
}

.list-icons {
    margin-top: 60px;
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.list-icons li {
    display: inline-block;
    margin: 15px 40px;
}

.list-icons li i {
    font-size: 45px;
    color: #fff;
}

.home-projects {
    margin-bottom: 100px;
}

.home-projects h2 {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 35px;
}

.home-projects p {
    margin-bottom: 32px;
}

.project-title {
    padding: 60px;
    background: #46494f;
    margin-bottom: 20px;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.project-item {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: 3px solid #1a1c1f;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.project-item img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(169,91,195,0.9);
    text-align: center;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.overlay h4 {
    font-size: 18px;
}

.overlay h4 a {
    color: #fff;
}

.project-item:hover .overlay {
    opacity: 1;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.project-item.one {
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.project-item.two {
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.project-item.three {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.project-item.four {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.our-story {
    padding: 0 50px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.story-bg {
    background: url("../img/story-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -moz-animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.inner-story {
    background: #fff;
    padding: 40px;
    color: #32353a;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.inner-story h2 {
    margin-bottom: 30px;
}

.inner-story p {
    margin-bottom: 0;
}

.our-offers {
    margin-top: 3px;
    padding: 0 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 120px;
}

.offer-bg {
    background: url("../img/offer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 69%;
    top: 0;
    left: 0;
    -moz-animation-delay: 3.6s;
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s;
}

.offer-title {
    color: #4e91c9;
    padding: 30px;
    background: #fff;
    margin-bottom: 40px;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.offer-item {
    margin-top: 40px;
    overflow: hidden;
}

.offer-item figure {
    border: 3px solid #fff;
}

.offer-item figure img {
    width: 100%;
    display: block;
}

.offer-content {
    padding: 30px;
    background: #fff;
    color: #32353a;
    position: relative;
}

.offer-content h4 {
    margin-bottom: 30px;
    font-weight: normal;
}

.offer-content p {
    margin-bottom: 0;
}

span.offer-left {
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 30px;
    height: 30px;
}

.offer-left>i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 15px solid transparent;
    border-left: 15px solid #32353a;
    border-bottom: 15px solid #32353a;
    left: 0px;
    top: 0px;
}

span.offer-right {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 30px;
    height: 30px;
}

.offer-right>i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 15px solid transparent;
    border-right: 15px solid #32353a;
    border-bottom: 15px solid #32353a;
    left: 0px;
    top: 0px;
}

.offer-1 {
    -moz-animation-delay: 2.1s;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.offer-2 {
    -moz-animation-delay: 2.8s;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

.projects-header {
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: center;
}

.projects-header h2 {
    font-weight: 100;
    color: #fff;
    font-size: 36px;
    margin-bottom: 30px;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.projects-header p {
    font-size: 17px;
    line-height: 1.75em;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.projects-holder {
    margin-bottom: 80px;
}

.p-1 {
    -moz-animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.p-2 {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.p-3 {
    -moz-animation-delay: 2.3s;
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}

.p-4 {
    -moz-animation-delay: 2.6s;
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s;
}

.p-5 {
    -moz-animation-delay: 2.9s;
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s;
}

.p-6 {
    -moz-animation-delay: 3.1s;
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s;
}

.p-7 {
    -moz-animation-delay: 3.4s;
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s;
}

.blog-posts {
    margin-bottom: 80px;
}

.blog-item {
    position: relative;
    overflow: hidden;
    @extned %clearfix;;padding: 20px;
    color: #6d747e;
    text-align: center;
    margin-bottom: 30px;
}

.blog-item a {
    color: #32353a;
}

.blog-item h3 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
}

.blog-item:hover .blog-bg {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

span.solid-line {
    width: 60px;
    height: 2px;
    background: #32353a;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-button {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 20px;
    background: #eee;
}

.blog-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 8;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.post-1 {
    -moz-animation-delay: 2.3s;
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}

.post-2 {
    -moz-animation-delay: 2.8s;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

.post-3 {
    -moz-animation-delay: 3.3s;
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s;
}

.blog-content {
    position: relative;
    z-index: 9;
    background: #fff;
    padding: 60px 30px;
}

.blog-content p {
    line-height: 1.75em;
    margin-bottom: 35px;
}

.blog-header {
    margin-bottom: 90px;
}

.blog-header h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 100;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.blog-header p {
    font-size: 17px;
    line-height: 1.75em;
    margin-bottom: 35px;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.blog-button {
    background: #d5b14f;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 12px 20px;
    color: #fff !important;
    -moz-animation-delay: 1.9s;
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}

.contact-header {
    margin-bottom: 100px;
}

.contact-header h2 {
    font-size: 36px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 30px;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.contact-header p {
    font-size: 17px;
    line-height: 1.75em;
    -moz-animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.contact-social {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.contact-social li {
    display: inline-block;
    margin: 0 20px;
}

.contact-social li i {
    font-size: 24px;
}

.contact-holder {
    background: #46494f;
    margin-bottom: 100px;
}

.googlemap-wrapper {
    -moz-animation-delay: 2.7s;
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
}

.map-canvas {
    height: 505px;
}

#map_canvas {
    width: 100%;
    height: 505px;
}

#map_canvas img {
    max-width: none;
}

.contact-form {
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
    padding-right: 30px;
}

@media screen and (max-width: 992px) {
    .contact-form {
        padding-left: 30px;
    }
}

.contact-form h4 {
    color: #fff;
    font-size: 24px;
    margin: 30px 0;
}

.contact-form input,.contact-form textarea {
    background: #32353a;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 13px;
    height: 44px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
}

.contact-form textarea {
    height: 150px;
}

.message-button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    background: #4e91c9;
    color: #fff !important;
    padding: 12px 20px;
    display: inline-block;
    margin-bottom: 30px;
}

.main-footer {
    border-top: 2px solid #46494f;
    border-bottom: 2px solid #46494f;
    padding: 30px 0 15px 0;
}

.main-footer .social li {
    display: inline-block;
    margin: 0 15px 15px 15px;
}

.main-footer .social li a {
    padding: 20px;
}

.main-footer .social li a:hover {
    background: #4e91c9;
    border-color: #4e91c9;
}

.copyright {
    margin-top: 30px;
    margin-bottom: 20px;
}

.copyright p {
    margin-bottom: 10px;
    font-size: 12px;
}

html {
    font-size: 93.75%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #32353a;
    font-size: 15px;
    font-weight: 300;
    color: #b7bcbe;
    padding: 20px;
    font-family: "Roboto",sans-serif;
    line-height: 1.55;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    overflow-x: hidden;
}

p {
    margin-bottom: 30px;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

span[class*="border-"] {
    position: fixed;
    background: #1f2122;
}

.border-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.border-left {
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
}

.border-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.border-right {
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
}

.shape-1 {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url("../img/shape-1.png") no-repeat;
}

.shape-2 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background: url("../img/shape-2.png") no-repeat;
}

.main-button,.main-footer .social li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    display: inline-block;
    border: 2px solid #46494f;
}

.pink-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    display: inline-block;
    background: #a95bc3;
    font-weight: normal;
}

.pink-button:hover {
    color: #fff;
}

footer{
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
footer a{
    color: inherit;
}