@charset "UTF-8";

/* ----

# My Resume
# By: Dreamer-Paul
# Last Update: 2018.2.21

一个简洁的橙色调个人简介。

欢迎你加入缤奇，和我们一起改变世界。
本代码为奇趣保罗原创，并遵守 MIT 开源协议。欢迎访问我的博客：https://paugram.com

---- */

/* 0 - 全局
-------------------------------- */

a{ color: #c40b00; }

.wrap{ max-width: 1000px; }

/* 1 - 页眉
-------------------------------- */

/* - 侧边栏 */
.sidebar{
    top: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 250px;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    background: #4b4b4b;
}

/* -- 头像 */
.sidebar .avatar{
    width: 160px;
    height: 160px;
    margin: 2em auto;
    background: #fff;
    border-radius: 100%;
    border: #fff 5px solid;
    transition: transform 0.5s;
}
.sidebar .avatar:hover{
    transform: rotate(1turn);
}
.sidebar .avatar img{
    border-radius: 100%;
}

/* -- 侧边栏导航 */
.sidebar .nav{
    margin: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
}
.sidebar .nav a{
    color: #fff;
    padding: 1em;
    display: block;
    text-align: center;
    transition: background .3s, box-shadow .3s;
}
.sidebar .nav a:hover{
    background: rgba(0, 0, 0, .2);
}

main{
    margin-left: 250px;
}

@media screen and (max-width: 900px) {
    .sidebar {
        width: inherit;
        position: relative;
    }
    .sidebar .nav{
        background: #f8bd24;
        flex-direction: row;
        justify-content: center;
    }
    .sidebar .nav a:hover{
        background: none;
        box-shadow: 0 -3px 0 #fff inset;
    }
    main{
        margin-left: 0;
    }
}

@media print{
    .sidebar{
        display: none;
    }
    main{
        margin-left: 0;
    }
}


/* 2 - 正文
-------------------------------- */
main section{
    padding: 5em 0;
    position: relative;
}
@media screen and (max-width: 900px) {
    main section{
        padding: 3em 0;
    }
}

#info{ background: url(./../img/bg-1.png) fixed; }
#projs{ background: url(./../img/bg-2.png) fixed; }
#story{ background: url(./../img/bg-3.png) fixed; }

.title{
    margin-bottom: 1em;
}
.title:before{
    float: left;
    margin-right: .5em;
    font-family: "FontAwesome";
}

#info .title:before{
    content: "\f005";
}
#projs .title:before{
    content: "\f091";
}
#story .title:before{
    content: "\f0b1";
}

/* - 项目 */
.projs-item img{
    width: 450px;
    height: 300px;
    transition: transform 0.3s;
}
.projs-item img:hover{
    transform: scale(1.05, 1.05);
}
.projs-item p{
    padding: 1em 0;
    text-align: center;
}

/* - 经历 */
.timeline{
    list-style: none;
    margin-left: 1em;
    padding-left: 1.5em;
    border-left: 2px grey solid;
}

.timeline li{
    width: 960px;
    line-height: 1.5em;
    position: relative;
    margin-bottom: 1.5em;
}
.timeline li:hover:before{
    transform: scale(1.2, 1.2);
}
.timeline li:before{
    content: "";
    left: -2.3em;
    width: 1.5em;
    height: 1.5em;
    display: block;
    position: absolute;
    background: #f8bd24;
    border-radius: 100%;
    transition: transform .3s;
}


/* 3 - 页尾
-------------------------------- */
footer{
    color: #fff;
    padding: 1em 0;
    text-align: center;
    background: #72655b;
}
footer a{
    color: inherit;
}